/* ======= STYLES ======= */



.center {
  margin: auto;
  width: 40%;
  display: flex;
}

.jobs {
  padding-top: 20%;
  padding-bottom: 2.5rem;
  font-size: 2.0rem;
}

.three-cards {
  position: relative !important;
  display: block;
  padding-bottom: 10%;
}

.grey-out {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  margin-bottom: 2rem;
  background: #eee;
}

.skills-list {
  margin-top:15%;
  background-color: white;
  padding: 15%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
  margin-bottom: 15%;
}

.story {
  margin-top:15%;
}

.pipelist {
  line-height: 40px;
  margin-bottom: 10%;
}

.skills-panel {
  margin-top: 15%;
  margin-bottom: 15%;
}

.skills-columns {
  padding: 8%;
}

.bigger-header {
  font-size: 2.0rem;
}

.career-data {
  padding-bottom:10%;
}



